<div class="splash-holder">
		<ul class="pageNav">
			<li><a class="active" href="#home"></a></li>
			<li class="right"><a href="/logout">Logout</a></li>
			<li class="right"><a href="/dashboard">Dashboard</a></li>
			<li class="right"><a href="/search">Search</a></li>
			<li class="right"><a href="/addTask">New Task</a></li>
		</ul>

		<h2>Welcome
	{{this.userName}}</h2>


		<div class="">  //To get the last 10 tasks from the DB
			<a href="/getTask"></a>
			<h2>Tasks Recently added</h2>

			{{#each dbTask}}
				{{this.task}}
				{{this.assigned_to}}
				{{this.complete}}
			  {{this.date_due}}
			{{/each}}

		</div>
</div>
